.main {
  padding: 4rem;
  text-align: center;
}

.container {
  border: 1px solid #ccc;
  padding: 3rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ff6f61;
}

p {
  font-size: 1.2rem;
  color: #333;
}

i {
  font-style: italic;
  color: #666;
}

a {
  color: #4f58df;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
